*{
    background-color: #ffffff;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
};

.mainShop{
background: url("https://res.cloudinary.com/degnky4ab/image/upload/v1718719818/s2zuvyosp3omnl5kv1xt.png");
height: 316px;
// width: 70vw;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
};

.shop {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    // width: 285px;
// height: 446px;
// gap: 0px;
// opacity: 0px;

    gap: 1rem;
    margin-top: 2rem;
    flex-grow: 1;
    list-style: none;
};

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination button {
    padding: 10px 15px;
    margin: 0 5px;
    background-color: #FAF3EA;
    ;
    color: black;
    cursor: pointer;
    border-radius: 10px;

}

.pagination span {
    padding: 10px 15px;
    margin: 0 1px;
    background-color:#FAF3EA;
    border-radius: 5px;
}