.btn{
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    color: #B88E2F;
    border: 2px solid #B88E2F;
    font-size: 20px;
    font-weight: bold;
    margin-top: 2rem;
    margin-left: 4%;
    cursor: pointer;
    }