
.contact{
    background: url("https://res.cloudinary.com/degnky4ab/image/upload/v1718907984/p9mvqjiiweatcbceh4hm.png");
    height: 316px;
    // width: 70vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    };
 .contact2 p,h3{
margin-left: 6rem;
 };
 .contact3{
    margin-left: 5rem;
    margin-top: 2rem;
 };
 .contact1{
   text-align: center;
   padding: 2rem;
   margin-top: 2rem;
 }