.first{
    background: url("https://res.cloudinary.com/degnky4ab/image/upload/v1718750403/E-images/vjwvwbqv6itfekllz5nq.png");
height: 316px;
// width: 70vw;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}